.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-input {
  display: flex;
}
.input-field {
  margin-right: 12px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.send {
  fill: #ffffff;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
