.footer-bg {
  align-content: flex-start;
  background-color: var(--footer-bg-color);
}
.footer-main {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: baseline;
}
.footer-block {
  display: inline-table;
  justify-content: center;
}

.footer-logo {
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer-list {
  padding-bottom: 60px;
}
.footer-list__item:not(:last-child) {
  padding-bottom: 9px;
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
